
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.301)), url("/back.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

    font-family: lato;
    font-weight: 300;
    
}


.wrapper{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    border: solid black 2px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);

}

.player-0-panel,
.player-1-panel {
    float: left;
    width: 50%;
    height: 300px;
    padding: 100px;
    border: black solid 1px;
}

.player-name{
    display: block;
    text-align: center;
    font-size: 40px;
}

.player-score{
    text-align: center;
    color: red;
    font-size: 60px;
}

.player-current-box{
    border: solid black 1px;
    background-color: red;
    text-align: center;
    margin: 30px;
    padding: 10px;
    
}